#done {
  display: none;
  color: lime;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#interactive.viewport {
  width: 640px;
  height: 480px;
  border-style: solid;
  border-width: 10px;
}

#interactive.viewport canvas, video {
  float: left;
  width: 640px;
  height: 480px;
}

#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
  margin-left: -640px;
}

